.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }


  input::file-selector-button {
    font-weight: bold;
    color: rgb(215, 82, 68);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 19px;
  
  }


 

  /* --------------------------------inside popup */



.container1 {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



pre {
    text-align: left;
    background: #f5f5f57c;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}


.why{
  color: #5e3c3c;
}







@media only screen and (max-width: 267px) {
  /* Adjustments for smaller screens */
  
  /* Header */
  .header-area {
    height: auto;
    padding: 20px 15px;
  }
  
  .header-area .main-nav {
    display: none;
  }
  
  .header-area .menu-trigger {
    display: block !important;
  }
  
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    display: none;
    margin-left: 0px;
  }
  
  .background-header .nav {
    margin-top: 80px;
  }
  
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    border: none !important;
    background: #f7f7f7 !important;
    color: #191a20 !important;
  }
  
  .header-area .main-nav .nav li a:hover {
    background: #eee !important;
    color: #fe3f40!important;
  }
  
  /* Main Banner */
  .main-banner {
    padding: 100px 15px 47px 15px;
  }
  
  .main-banner:before,
  .main-banner:after {
    display: none;
  }
  
  .main-banner .left-content h2 {
    font-size: 30px;
    line-height: 42px;
  }
  
  .main-banner .left-content p {
    font-size: 14px;
    line-height: 24px;
  }
  
  .main-banner .left-content form {
    margin-top: 20px;
    width: 100%;
  }
  
  .main-banner .left-content form input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 13px 14px;
    font-size: 14px;
  }
  
  .main-banner .left-content form button {
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 16px;
  }
  
  /* About Us */
  .about-us {
    padding: 100px 15px 80px 15px;
  }
  
  .about-us .services .item {
    text-align: center;
  }
  
  .about-us .services .item .icon {
    margin-right: 0;
    margin-bottom: 15px;
  }
  
  .about-us .services .item h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .about-us .services .item p {
    font-size: 14px;
  }
  
  /* Our Service */
  .our-service {
    padding-top: 100px;
  }
  
  .our-service .left-image {
    margin-right: 0;
    margin-bottom: 30px;
  }
  
  .our-service .section-heading h2 {
    margin-right: 0;
    text-align: center;
  }
  
  .our-service .section-heading p {
    margin-bottom: 40px;
  }
  
  .our-service .progress-skill-bar span {
    font-size: 14px;
  }
  
  .our-service .progress-skill-bar h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Our Services */
  .our-services .section-heading h2 {
    margin: 0px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .our-services .item {
    margin-bottom: 40px;
  }
  
  .our-services .hidden-content {
    padding: 20px;
    border-radius: 15px;
  }
  
  .our-services .hidden-content h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .our-services .hidden-content p {
    font-size: 14px;
  }
  
  .our-services .showed-content {
    padding: 30px;
    border-radius: 15px;
  }
  
  .our-services
  .our-services .showed-content h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .our-services .showed-content p {
    font-size: 14px;
  }
  
  /* Testimonials */
  .testimonials {
    padding: 100px 15px;
  }
  
  .testimonials .testimonial-item {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .testimonials .testimonial-item .testimonial-content {
    padding: 20px;
  }
  
  .testimonials .testimonial-item .testimonial-content p {
    font-size: 14px;
  }
  
  /* Contact Us */
  .contact-us {
    padding: 100px 15px 80px 15px;
  }
  
  .contact-us .contact-info {
    margin-bottom: 60px;
  }
  
  .contact-us .contact-info .info-box {
    text-align: center;
  }
  
  .contact-us .contact-info .info-box .icon {
    margin-bottom: 15px;
  }
  
  .contact-us .contact-info .info-box p {
    font-size: 14px;
  }
  
  .contact-us .contact-form {
    margin-top: 30px;
  }
  
  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding: 13px 14px;
    font-size: 14px;
  }
  
  .contact-us .contact-form form button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
  }
}
