.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }


  input::file-selector-button {
    font-weight: bold;
    color: rgb(215, 82, 68);
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 19px;
  
  }


 

  /* --------------------------------inside popup */

  @media (max-width: 1195px) {
    .main-banner .left-content form input{
      width:420px
    }
    .main-banner .left-content form button {
      right: 40px;
    }
  }
  

.container1 {
    background: #ffffff8a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ff000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



pre {
    text-align: left;
    background: #f5f5f57c;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}


.why{
  color: #5e3c3c;
}





